@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat:wght@400;500;700&display=swap');
*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	/*font-family: 'Merriweather', serif;*/
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	overflow-x: hidden;
}
a {
	text-decoration: none;
}
ul, li {
	list-style: none;
}
.container {
	max-width: 1230px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
	position: relative;
	z-index: 10;
}
.title {
	text-align: left;
	font-weight: 700;
	font-family: 'Merriweather', serif;
	font-size: 36px;
}
.header {
	position: relative;
	background-color: #30333C;
	padding-bottom: 98px;
}

/* start header */

.header__bg {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.header__bg-left {
	width: 46%;
	position: relative;
}
.header__bg-left img {
	position: absolute;
	left: 0;
	bottom: 0;
}
.header__bg-right {
	width: 54%;
	position: relative;
}
.header__bg-right img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.header__bg-shadow01, .header__bg-shadow02 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.header__bg-shadow01 {
	background: linear-gradient(27.41deg, rgba(48, 51, 59, 0.9) 2.03%, rgba(48, 51, 59, 0) 38.97%);
}
.header__bg-shadow02 {
	background: linear-gradient(180deg, rgba(48, 51, 59, 0.9) 0%, rgba(48, 51, 59, 0) 50%);
}
.header__top {
	display: flex;
	justify-content: space-between;
}
.logo {
	width: 111px;
	height: 150px;
	background-color: #6C525B;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}
.logo span {
	display: inline-block;
	position: absolute;
	color: #E3E7EF;
	font-weight: 700;
	font-size: 20px;
	line-height: 28px;
	top: 96px;
	left: 84px;
	white-space: nowrap;
}
.header__top-item {
	margin-top: 102px;
	display: flex;
}
.header__top-social {
	margin-right: 104px;
}
.header__top-social a + a {
	margin-left: 25px;	
}
.header__top-social a i {
	color: #C8CDD8;
	font-size: 20px;
	transition: all .5s;
}
.header__top-social a i:hover {
	color: #fff;
	transition: all .5s;
}
.header__menu li{
	display: inline-block;
	padding-bottom: 10px;
	transition: all .5s;
	position: relative;
}
.header__menu li+li {
	margin-left: 28px;
}
.header__menu li a {
	font-size: 15px;
	color: #EDF0F4;
	font-weight: 500;
	line-height: 21px;
	transition: all .5s;
}
.header__menu li::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: transparent;
	transition: all .4s;
}
.header__menu li:hover::after {
	background-color: #6C525B;
}
.header__menu li:hover > a {
	color: #fff;
}
.header__list {
	cursor: pointer;
	height: 15px;
	display: none;
}
.header__list span {
	display: block;
	width: 15px;
	height: 2px;
	background-color: #6C525B;
	margin-bottom: 2px;
}
.header__box {
	width: 386px;
	height: 351px;
	position: relative;
	margin: 115px 0 85px;
	border: 7px solid #6C525B;
}
.header__title {
	font-size: 58px;
	line-height: 84px;
	position: absolute;
	left: -6px;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;
	width: 794px;
}
.header__contact {
	padding-top: 32px;
	border-top: 1px solid #4D515E;
	display: flex;
	justify-content: space-between;
	max-width: 671px;
	width: 100%;
}
.contact {
	padding-left: 25px;
	position: relative;
}
.contact i {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 20px;
}
.header__contact .contact {
	font-size: 14px;
	line-height: 20px;
	color: #C8CDD8;
	width: 33.3333%;
	margin-left: 60px;
}
.header__contact .phone.contact {
	font-weight: 700;
	font-size: 16px;
	line-height: 23px;
	margin-left: 0;
}

/* end header */

/* start tradition */

.tradition {
	padding-top: 71px;
	padding-bottom: 110px;
	background-color: #E3E5EA;
}
.tradition__inner {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-left: -67px;
	align-items: center;
}
.tradition__top .title {
	font-size: 36px;
	line-height: 52px;
	margin-bottom: 36px;
}
.tradition__top-text {
	font-size: 15px;
	line-height: 26px;
	color: #2B2D33;
}
.tradition__item {
	width: calc(33.3333% - 67px);
	margin-left: 67px;
	border-top: 1px solid #BDC4CF;
	padding-top: 37px;
	margin-top: 28px;
}
.tradition__top {
	width: calc(54% - 67px);
	order: -2;
	margin-left: 67px;
}
.tradition-img {
	width: calc(42% - 67px);
	order: -1;
	margin-left: 67px;
}
.tradition__item-title {
	font-size: 18px;
	line-height: 25px;
	margin-bottom: 27px;
	color: #2B2D33;
	font-weight: 700;
}
.tradition__item-text {
	font-size: 14px;
	color: #585E67;
	line-height: 24px;
}
.tradition-img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: right;
}

/* end tradition */

/* start interior */

.interior {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding-top: 62px;
	padding-bottom: 70px;
}
.overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #30333B;
	opacity: 0.94;
	z-index: 1;
}
.interior__title {
	margin-bottom: 45px;
	line-height: 53px;
	font-size: 36px;
	color: #fff;
}
.interior__swiper {
  height: 410px;
  width: calc(100vw - (100vw - 1230px) / 2);
  overflow: hidden;
}
.interior__swiper .swiper-slide {
	width: 360px;
	height: 410px;
}
.interior__swiper .swiper-slide img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center;
}
.swiper-button-prev::after, .swiper-button-next::after {
	display: none;
}
.swiper-button-prev, .swiper-button-next {
	position: absolute;
	right: 15px;
	top: 30px;
	width: 34px;
	height: 43px;
}
.swiper-button-prev {
	right: 59px;
	left: auto;
}
.swiper-button-prev i, .swiper-button-next i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 20px;
}
.interior__swiper .swiper-button-prev, .interior__swiper .swiper-button-next {
	border: 1px solid #777B8A;
	color: #D5D9E3;
}
.interior__swiper .swiper-button-disabled {
	border: 1px solid #4D515D;
	color: #6E7483;
	opacity: 1;
}

/* end interior */

/* start menu */

.menu {
	padding-top: 110px;
	padding-bottom: 60px;
	background-color: #E3E5EA;
}
.menu .title {
	font-size: 36px;
	line-height: 53px;
}
.menu__tabs {
	position: relative;
	margin-top: 43px;
	font-size: 0;
}
.menu__tabs .tabs__img {
	width: 188px;
	height: 166px;
	position: absolute;
	top: -130px;
	right: 0;
}
.menu__tabs input[type="radio"] {
	display: none;
}
.menu__tabs label {
	display: inline-block;
	font-size: 18px;
	font-weight: 700;
	line-height: 25px;
	padding: 13px 20px 13px 20px;
	background-color: transparent;
	transition: all .5s;
	cursor: pointer;
	position: relative;
	transition: all .5s;
	overflow: hidden;
}
.menu__tabs label span {
	color: #2B2D33;
	position: relative;
	z-index: 2;
	transition: all .5s;
}
.menu__tabs label::after {
	content: '';
	width: 150%;
	height: 150%;
	background-color: #6C525B;
	border-radius: 50%;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 100%);
	transition: all .5s;
}
.menu__tabs label:hover::after {
	transform: translate(-50%, -20%);
}
.menu__tabs label:hover span {
	color: #E3E5EA;
}
.menu__tabs input:checked + label::after {
	transform: translate(-50%, -20%);
}
.menu__tabs input:checked + label span {
	color: #E3E5EA;
}
.menu__tabs hr {
	height: 1px;
	width: 100%;
	background-color: #BDC4CF;
}
.menu__tabs .tabs__content {
	display: none;
	margin-top: 50px;
}
.menu__tabs #tab-btn-1:checked~.tabs__content-1,
.menu__tabs #tab-btn-2:checked~.tabs__content-2,
.menu__tabs #tab-btn-3:checked~.tabs__content-3 {
	display: block;
}
.menu__tabs #tab-btn-1:checked~.tabs__content-1 .swiper-wrapper,
.menu__tabs #tab-btn-2:checked~.tabs__content-2 .swiper-wrapper,
.menu__tabs #tab-btn-3:checked~.tabs__content-3 .swiper-wrapper {
	animation-name: tabs;
	animation-duration: .5s;
	animation-fill-mode: forwards;
}
@keyframes tabs {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.menu__swiper {
	width: 100%;
}
.menu__swiper .swiper-button-prev, .menu__swiper .swiper-button-next {
	display: none;
	border: 1px solid #585E67;
	color: #2B2D33;
}
.menu__swiper .swiper-button-disabled {
	border: 1px solid #AEB2BA;
	color: #8E9199;
	opacity: 1;
}
.menu__swiper .swiper-slide {
	padding: 45px 15px;
	border: 4px solid #CFD2D9;
}
.menu__cap {
	display: flex;
	justify-content: space-between;
	margin-bottom: 35px;
}
.menu__cap-name {
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	color: #2B2D33;
}
.menu__price {
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	color: #6C525B;
}
.menu__assortment-item {
	font-size: 14px;
	line-height: 18px;
	margin-top: 10px;
}
.menu__assortment-name {
	font-weight: 500;
}
.menu__assortment li {
	font-size: 13px;
	font-weight: 500;
	line-height: 25px;
	color: #2B2D33;
}
.menu__assortment-box {
	margin-top: 21px;
}
.menu__assortment-subtitle {
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	color: #2B2D33;
}
.menu__assortment-box-text {
	margin-top: 22px;
	font-size: 15px;
	line-height: 21px;
	color: #2B2D33;
}

/* end menu */

/* start cosiness */

.cosiness {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #E3E5EA;
	margin-top: -1px;
}
.cosiness__wrapper {
	position: relative;
}
.cosiness__img {
	width: calc(100vw - (100vw - 380px) / 2);
	padding-top: 660px;
	position: relative;
}
.cosiness__img img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.cosiness__img .overlay {
	background-color: rgba(155, 163, 184, 0.2);
}
.cosiness__box {
	max-width: 1230px;
	padding: 0 15px;
	width: 100%;
	position: absolute;
	height: 100%;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	z-index: 5;
}
.cosiness__body {
	flex-shrink: 0;
	flex-grow: 0;
	position: absolute;
	padding: 62px 65px;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	background-color: #30333B;
	max-width: 665px;
	width: 100%;
	z-index: 5;
}
.cosiness__body .title {
	font-size: 36px;
	line-height: 52px;
	color: #fff;
}
.cosiness__body .cosiness__box-leaflet {
	width: 170px;
	height: 54px;position: absolute;
	top: 54px;
	right: 43px;
}
.cosiness__list {
	margin-top: 50px;
}
.cosiness__list li {
	margin-top: 38px;
	font-size: 15px;
	line-height: 23px;
	color: #fff;
	padding-left: 41px;
	position: relative;
}
.cosiness__list li::after,
.cosiness__list li::before {
	content: '';
	width: 29px;
	height: 1px;
	background-color: #686D7C;
	transform: rotate(-65deg) translateY(-50%);
	position: absolute;
	left: 0;
	top: 50%;
}
.cosiness__list li::before {
	left: 7px;
}

/* end cosiness */

/* start news */

.news {
	padding-top: 52px;
	padding-bottom: 110px;
	background-color: #E3E5EA;
	margin-top: -1px;
}
.news .title {
	font-size: 36px;
	line-height: 52px;
	color: #2B2D33;
	margin-bottom: 42px;
}
.news__swiper {
	width: 100%;
	overflow: hidden;
}
.news__swiper .news__img {
	position: relative;
	padding-top: 69.5%;
}
.news__swiper .news__img img {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	object-fit: cover;
}
.news__swiper .news__img .overlay {
	background-color: rgba(155, 163, 184, 0.2);
}
.news__date {
	margin: 21px 0px 14px;
	font-size: 14px;
	line-height: 19px;
	color: #6C525B;
}
.news__text {
	font-size: 18px;
	line-height: 25px;
	color: #2B2D33;
	font-weight: 700;
}
.news__swiper .swiper-button-prev, .news__swiper .swiper-button-next {
	border: 1px solid #585E67;
	color: #2B2D33;
}
.news__swiper .swiper-button-disabled {
	border: 1px solid #AEB2BA;
	color: #8E9199;
	opacity: 1;
}